<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/rss+xml" title="Samuel Ford RSS Feed" href="http://www.samuelwford.com/feed?format=rss">
</head>
<body>

<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="site-heading">
          <h1 class="pull-right"><%= link_to 'samuelwford', root_path %></h1>
      </div>
    </div>
  </div>
</header>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <div class="hr">
          <hr/>
          <img src="http://www.gravatar.com/avatar/0f4db175e1620c9cd713cc1096d41bcf?d=40">
        </div>
        <a href="https://twitter.com/samuelwford/">@samuelwford</a>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

</body>
</html>
